.container-fluid{
    background-image: url(https://w0.peakpx.com/wallpaper/163/132/HD-wallpaper-blue-yellow-cubes-yellow-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    overflow-y: scroll;
}
.text{
    position: absolute;
    widows: 100%;
    top: 20%;
    color: black;
    margin-left: 250px;
    font-size: 40px;
}
.image{
    height: 655px;
    width: 680px;
}
.card{
    width: 350px;
    margin-left: 500px;
    margin-top: 120px;
   // background-image: url(https://www.teahub.io/photos/full/20-200197_nature-sunset-images-hd.jpg);
  // background-image: url(https://w0.peakpx.com/wallpaper/163/132/HD-wallpaper-blue-yellow-cubes-yellow-background.jpg);
   
}
.title{
    margin-left: 30px;
}
  

.label{
    margin-left: 20px;
    width: 250px;
    
}
.button{
    width: 200px;
    border-radius: 25px;
    margin-left:  60px;
}
.logo{
   // background-image: url(https://st2.depositphotos.com/1364916/5477/v/950/depositphotos_54774121-stock-illustration-logo-business-partnership-icon-concept.jpg);
    width: 40px;
}